## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
sample_list_1 = random.sample(range(0, 100), k=80)
print(sample_list_1)

print(len(sample_list_1))

[86, 89, 31, 19, 87, 72, 67, 52, 1, 35, 36, 62, 0, 16, 43, 65, 7, 77, 17, 75, 99, 70, 46, 69, 14, 92, 61, 80, 42, 33, 4, 96, 81, 78, 5, 55, 73, 13, 32, 71, 85, 82, 83, 44, 84, 88, 40, 63, 58, 45, 41, 60, 39, 25, 94, 98, 28, 24, 34, 22, 2, 93, 53, 30, 57, 51, 54, 6, 20, 11, 37, 66, 56, 91, 76, 79, 97, 10, 48, 12]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print("The length is: ", len(set1))

{0, 1, 2, 4, 5, 6, 7, 10, 11, 12, 13, 14, 16, 17, 19, 20, 22, 24, 25, 28, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}
The length is:  80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
# Your code here
sample_list_2 = []
while len(sample_list_2)<80:
    repeated = random.randint(0, 100)
    sample_list_2.append(repeated)
print(sample_list_2)
print(len(sample_list_2))

[42, 82, 53, 61, 57, 89, 86, 1, 36, 15, 57, 28, 43, 11, 25, 15, 35, 20, 27, 25, 50, 66, 98, 20, 74, 71, 42, 32, 30, 38, 54, 95, 0, 65, 64, 92, 34, 18, 16, 57, 94, 27, 52, 54, 77, 70, 84, 72, 86, 54, 45, 42, 38, 74, 37, 11, 45, 44, 96, 16, 50, 30, 33, 5, 84, 81, 87, 99, 34, 43, 28, 69, 18, 34, 4, 51, 84, 10, 99, 27]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [35]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print("Now the leght is:", len(set2))

{0, 1, 4, 5, 10, 11, 15, 16, 18, 20, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 50, 51, 52, 53, 54, 57, 61, 64, 65, 66, 69, 70, 71, 72, 74, 77, 81, 82, 84, 86, 87, 89, 92, 94, 95, 96, 98, 99}
now the leght is: 53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [37]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{2, 6, 7, 12, 13, 14, 17, 19, 22, 24, 31, 39, 40, 41, 46, 48, 55, 56, 58, 60, 62, 63, 67, 73, 75, 76, 78, 79, 80, 83, 85, 88, 91, 93, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{64, 38, 74, 15, 18, 50, 27, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [38]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 4, 5, 10, 11, 16, 20, 25, 28, 30, 32, 33, 34, 35, 36, 37, 42, 43, 44, 45, 51, 52, 53, 54, 57, 61, 65, 66, 69, 70, 71, 72, 77, 81, 82, 84, 86, 87, 89, 92, 94, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [59]:
# Your code here

if len(set1)>len(set2):
    print("1.- Set 1 is bigger than set 2")
if len(set3)<len(set2) and len(set1):
    print("2.- Set3 is smaller than either set2 or set1")
if len(set4)<len(set2)and len(set1):
    print("3.- Set4 is smaller than set2 and set1")
if len(set5)<len(set2)and len(set1):
    print("4.- Set 5 is the intersection of set 1 and set 2 and thus is smaller than any of both")
if len(set5)>len(set4):
    print("5.- Set 5, the intersection, contains more elements than the difference between sets 1 and 2")

1.- Set 1 is bigger than set 2
3.- Set4 is smaller than set2 and set1
4.- Set 5 is the intersection of set 1 and set 2 and thus is smaller than any of both
5.- Set 5, the intersection, contains more elements than the difference between sets 1 and 2

#### Create an empty set called `set6`.

In [71]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [74]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [75]:
if set1 == set6:
    print(True)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [83]:
# Your code here
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
# Your code here
set7 = set3.union(set4)
set8= set7.union(set5)
set9 = set8.union(set1)
set10 = set9.union(set2)
print(set10)
print(len(set10))

{0, 1, 2, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}
88

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [92]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 4, 5, 6, 7, 10, 12, 13, 14, 16, 17, 20, 22, 24, 25, 28, 30, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 67, 70, 72, 73, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 96, 97, 98}