In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:

password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
#MISMO FALLO QUE EN EL OTRO LAB

In [4]:

engine = db.create_engine(connectionData)
print("Connected to server!")

ModuleNotFoundError: No module named 'pymysql'

In [5]:
import pandas as pd

In [6]:
#lab2ch1
df = pd.read_sql_query("""
Select Author_ID, titles.advance, titles.royalty FROM(
Select title_id Title_ID, au_id Author_ID, SUM(Sales_royalty) FROM
(Select authors.au_id,
titles.title_id, 
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty 
from titles
LEFT JOIN titleauthor ON titleauthor.title_id = titles.title_id 
LEFT JOIN authors ON authors.au_id = titleauthor.au_id
LEFT JOIN sales ON sales.title_id = titles.title_id) as FirstTable 
group by au_id, title_id) as SecondTable
LEFT JOIN titles ON titles.title_id = SecondTable.title_id group by Author_ID, advance, royalty;

""", engine)

NameError: name 'engine' is not defined

In [7]:
#lab2ch2
df = pd.read_sql_query("""
CREATE temporary TABLE FirstTable
(Select authors.au_id,
titles.title_id, 
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty 
from titles
LEFT JOIN titleauthor ON titleauthor.title_id = titles.title_id 
LEFT JOIN authors ON authors.au_id = titleauthor.au_id
LEFT JOIN sales ON sales.title_id = titles.title_id);

Create temporary table SecondTable(Select title_id Title_ID, au_id Author_ID, SUM(Sales_royalty) 
FROM FirstTable group by au_id, title_id);


Select Author_ID, titles.advance, titles.royalty 
FROM SecondTable
LEFT JOIN titles
 ON titles.title_id = SecondTable.title_id 
 group by Author_ID, advance, royalty;
""", engine)

NameError: name 'engine' is not defined

In [ ]:
#lab2ch3 #ESte no lo he conseguido, no sacaba más que errores.
df = pd.read_sql_query("""
CREATE TABLE most_profiting_authors select Author_ID, (titles.advance/100 * title.royalty/100) 
as profits FROM (Select Author_ID, titles.advance, titles.royalty FROM(
Select title_id Title_ID, au_id Author_ID, SUM(Sales_royalty) FROM
(Select authors.au_id,
titles.title_id, 
(titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS sales_royalty 
from titles
LEFT JOIN titleauthor ON titleauthor.title_id = titles.title_id 
LEFT JOIN authors ON authors.au_id = titleauthor.au_id
LEFT JOIN sales ON sales.title_id = titles.title_id) as FirstTable 
group by au_id, title_id) as SecondTable
LEFT JOIN titles ON titles.title_id = SecondTable.title_id group by Author_ID, advance, royalty)as ThirdTable;

""", engine)