# Advanced Querying Mongo

Importing libraries and setting up connection

In [12]:
!pip3 install pymongo
from pymongo import MongoClient
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"
client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()
client = MongoClient()

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.10.1)
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3.8 -m pip install --upgrade pip' command.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [13]:
query = {"name":{"$eq":"Babelgum"}}
list(db["companies"].find(query,{"name":1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [50]:
# Your Code
from pymongo import ASCENDING, DESCENDING
query = {"number_of_employees":{"$gt":5000}}
list(db["companies"].find(query,{"number_of_employees"}).sort("number_of_employees", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'), 'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'), 'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'), 'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'), 'number_of_employees': 227000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [26]:
# Your Code
query = { "$and":[
    {"founded_year":{"$gte":2000}},
    {"founded_year":{"$lte":2005}} ]
    }
list(db.companies.find(query,{"founded_year", "name"}).limit(5))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'founded_year': 2004},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'),
  'name': 'Gizmoz',
  'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [39]:
query = {"$and":[{"ipo.valuation_amount":{"$gt":100000000}},
                 {"founded_year":{"$lt":2010}}]}
list(db.companies.find(query,{"ipo", "name"}).limit(2))

[{'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [47]:
# Your Code

query = {"$and":[{"number_of_employees":{"$lt":1000}},
                 {"founded_year":{"$lt":2005}}]}

list(db["companies"].find(query,{"number_of_employees", "founded_year"}).sort("number_of_employees", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7d4bab8bd675298933'),
  'number_of_employees': 974,
  'founded_year': 2000},
 {'_id': ObjectId('52cdef7e4bab8bd67529ac95'),
  'number_of_employees': 948,
  'founded_year': 1997},
 {'_id': ObjectId('52cdef7f4bab8bd67529be17'),
  'number_of_employees': 931,
  'founded_year': 1997},
 {'_id': ObjectId('52cdef7c4bab8bd6752986a2'),
  'number_of_employees': 903,
  'founded_year': 1983},
 {'_id': ObjectId('52cdef7e4bab8bd67529af6d'),
  'number_of_employees': 900,
  'founded_year': 1991}]

### 6. All the companies that don't include the `partners` field.

In [54]:
# Your Code
query = {"partners":{"$exists":False}} 
list(db["companies"].find(query,{"name"}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [86]:
# Your Code
query = {"category_code":{"$type":"null"}} 
list(db["companies"].find(query,{"category_code"}).limit(5))

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'), 'category_code': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298225'), 'category_code': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298226'), 'category_code': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298261'), 'category_code': None},
 {'_id': ObjectId('52cdef7c4bab8bd675298262'), 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [55]:
query = {"$and":[{"number_of_employees":{"$gte":100}},
                 {"number_of_employees":{"$lt":1000}}]}

list(db["companies"].find(query,{"number_of_employees", "name"}).limit(5))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'),
  'name': 'AdventNet',
  'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'),
  'name': 'AddThis',
  'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297da8'),
  'name': 'OpenX',
  'number_of_employees': 305},
 {'_id': ObjectId('52cdef7c4bab8bd675297db5'),
  'name': 'LifeLock',
  'number_of_employees': 644},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbb'),
  'name': 'Jajah',
  'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [75]:
# Your Code
query = {"ipo.valuation_amount":{"$gt":0}}

list(db["companies"].find(query,{"ipo.valuation_amount"}).sort("ipo.valuation_amount", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7e4bab8bd67529a8b4'),
  'ipo': {'valuation_amount': 108960000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'ipo': {'valuation_amount': 104000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e7a'),
  'ipo': {'valuation_amount': 100000000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'ipo': {'valuation_amount': 18100000000}},
 {'_id': ObjectId('52cdef7d4bab8bd675299d5d'),
  'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [77]:
# Your Code
query = {"number_of_employees":{"$gt":0}}
list(db["companies"].find(query,{"number_of_employees"}).sort("number_of_employees", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'), 'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'), 'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'), 'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'), 'number_of_employees': 227000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [60]:
# Your Cod

query = {"founded_month":{"$gte":6}}
list(db["companies"].find(query,{"founded_month"}).limit(5))#1000

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'), 'founded_month': 10},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'), 'founded_month': 9},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'), 'founded_month': 6},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'founded_month': 6},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'), 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [69]:
# Your Code
query = {"$and":[{"founded_year":{"$lt":2000}},
                 {"acquisition.price_amount":{"$gt":1000000}}]}

list(db["companies"].find(query,{"founded_year", "acquisition.price_amount"}).limit(5))

[{'_id': ObjectId('52cdef7c4bab8bd675297d90'),
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297deb'),
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e2c'),
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e37'),
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e97'),
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [92]:
# Your Code
query = {"acquisition.acquired_year":{"$gt":2010}}

list(db["companies"].find(query,{"acquisition", "name"}).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'),
  'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
query = {"founded_year":{"$exists":True}}
list(db["companies"].find(query,{"number_of_employees"}).sort("number_of_employees", DESCENDING).limit(5))

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [88]:
# Your Code
query = {"founded_day":{"$lte": 7}}

list(db["companies"].find(query,{"founded_day"}).sort("acquisition.price_amount", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7d4bab8bd6752989a1'), 'founded_day': 4},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'), 'founded_day': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675297efe'), 'founded_day': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0c'), 'founded_day': 1},
 {'_id': ObjectId('52cdef7c4bab8bd675297d90'), 'founded_day': 2}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [94]:
# Your Code
query = {"$and":[{"category_code":{"$eq":"web"}},
                 {"number_of_employees":{"$gt":4000}}]}

list(db["companies"].find(query,{"category_code", "number_of_employees"}).sort("number_of_employees", DESCENDING).limit(5))

[{'_id': ObjectId('52cdef7c4bab8bd6752982a8'),
  'category_code': 'web',
  'number_of_employees': 15500},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'),
  'category_code': 'web',
  'number_of_employees': 15000},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'),
  'category_code': 'web',
  'number_of_employees': 13600},
 {'_id': ObjectId('52cdef7c4bab8bd675297fcb'),
  'category_code': 'web',
  'number_of_employees': 10000},
 {'_id': ObjectId('52cdef7c4bab8bd67529834c'),
  'category_code': 'web',
  'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [103]:
query = {"$and":[{"acquisition.price_amount":{"$lt":10000000}},
                 {"acquisition.price_currency_code":{"$eq":"EUR"}}]}

list(db["companies"].find(query,{"name", "acquisition.price_amount", "acquisition.price_currency_code"}).limit(3))

[{'_id': ObjectId('52cdef7d4bab8bd675298f94'),
  'name': 'Mobile Trend',
  'acquisition': {'price_amount': 7000000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7d4bab8bd67529a229'),
  'name': 'Citizenside',
  'acquisition': {'price_amount': 30000, 'price_currency_code': 'EUR'}},
 {'_id': ObjectId('52cdef7e4bab8bd67529a2fb'),
  'name': 'Excite Europe',
  'acquisition': {'price_amount': 2500000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [99]:
# Your Code
query = {"acquisition.acquired_month":{"$lte":3}}
list(db["companies"].find(query,{"acquisition", "name"}).limit(3))

[{'_id': ObjectId('52cdef7c4bab8bd675297dab'),
  'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297db4'),
  'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbf'),
  'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [114]:
# Your Code
query = {"$and":[{"founded_year":{"$gte":2000}},
                 {"founded_year":{"$lte":2010}}, 
               {"acquisition.acquired_year":{"$gte":2011}}]}
list(db["companies"].find(query,{"acquisition.acquired_year", "name"}).limit(100))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d91'),
  'name': 'Geni',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'),
  'name': 'Digg',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dab'),
  'name': 'Kyte',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297daf'),
  'name': 'Jingle Networks',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbf'),
  'name': 'blogTV',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc7'),
  'name': 'delicious',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dcb'),
  'name': 'Revision3',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dda'),
  'name': 'iContact',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ddd'),
  'name': 'Mashery',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297dee'),
  'name': 'Dailymotion',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297def'),
  'name': 'KickApps',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297df3'),
  'name': 'Instructables',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297df4'),
  'name': 'Netvibes',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e02'),
  'name': 'Dogster',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e09'),
  'name': 'Meebo',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e06'),
  'name': 'adBrite',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e1d'),
  'name': 'Seesmic',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e20'),
  'name': 'Zvents',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e25'),
  'name': 'Oodle',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e31'),
  'name': 'Flixster',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e3d'),
  'name': 'IceRocket',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e44'),
  'name': 'hi5',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e4a'),
  'name': 'Indeed',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e5e'),
  'name': 'Zenfolio',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e5a'),
  'name': 'Grockit',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e66'),
  'name': 'Wishpot',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297e7c'),
  'name': 'Retrevo',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297eb6'),
  'name': 'SelectMinds',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ebc'),
  'name': 'Flock',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ec6'),
  'name': 'TimeBridge',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ecc'),
  'name': 'TokBox',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ed2'),
  'name': 'Six Apart',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ef9'),
  'name': 'Doostang',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f01'),
  'name': 'Vlingo',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f00'),
  'name': 'Docstoc',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297ef5'),
  'name': 'MySpace',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f0f'),
  'name': 'sezmi',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f1a'),
  'name': 'Greystripe',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f3d'),
  'name': 'LocaModa',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f53'),
  'name': 'Thumbplay',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f71'),
  'name': 'OMGPOP',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f73'),
  'name': 'Daylife',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f7b'),
  'name': 'Behance',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f89'),
  'name': 'Attributor',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f99'),
  'name': 'WooMe',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f9a'),
  'name': 'Viewdle',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f9b'),
  'name': 'Mixx',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297f9c'),
  'name': 'TripIt',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc0'),
  'name': 'Tumri',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297fbd'),
  'name': 'OneRiot',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297fc7'),
  'name': 'Clickable',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675297fdc'),
  'name': 'GamerDNA',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675297fe7'),
  'name': 'Xobni',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298000'),
  'name': 'Sermo',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298004'),
  'name': 'Worklight',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298014'),
  'name': 'PlaySpan',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd67529801e'),
  'name': 'Zimbra',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd67529802a'),
  'name': 'earthmine',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298036'),
  'name': 'Whiskey Media',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298037'),
  'name': 'VoodooVox',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd67529803d'),
  'name': 'Uptake',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298039'),
  'name': 'CondoDomain',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298046'),
  'name': 'AdReady',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd67529804c'),
  'name': 'The Climate Corporation',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298051'),
  'name': 'Tumblr',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd67529805f'),
  'name': 'EchoSign',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd67529805e'),
  'name': 'JackBe',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd67529806b'),
  'name': 'Marakana',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298067'),
  'name': 'Rollbase',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298097'),
  'name': 'Pelago',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675298095'),
  'name': 'Vitrue',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298092'),
  'name': 'Peer39',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd6752980ad'),
  'name': 'MerchantCircle',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752980bd'),
  'name': 'Loopt',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd6752980ed'),
  'name': 'Bloglines',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752980f7'),
  'name': 'Mogreet',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298113'),
  'name': 'UpNext',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298118'),
  'name': 'TrustedID',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298121'),
  'name': 'Sendori',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd67529813b'),
  'name': 'Kewego',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675298146'),
  'name': 'SocialPicks',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298156'),
  'name': 'Shipwire',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298163'),
  'name': 'Smilebox',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675298168'),
  'name': 'Kosmix',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd67529816c'),
  'name': 'Goodreads',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd675298183'),
  'name': 'KAYAK',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298178'),
  'name': 'Qik',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981af'),
  'name': 'Scrapblog',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981b8'),
  'name': 'Meraki',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981c3'),
  'name': 'Jobfox',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981c7'),
  'name': 'Outspark',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981d3'),
  'name': 'Mpayy',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981c9'),
  'name': 'Livemocha',
  'acquisition': {'acquired_year': 2013}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981f5'),
  'name': 'UnLtdWorld',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd6752981d6'),
  'name': 'SuccessFactors',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd675298207'),
  'name': 'Amobee',
  'acquisition': {'acquired_year': 2012}},
 {'_id': ObjectId('52cdef7c4bab8bd67529820c'),
  'name': 'Roost',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675298213'),
  'name': 'Lijit Networks',
  'acquisition': {'acquired_year': 2011}},
 {'_id': ObjectId('52cdef7c4bab8bd675298231'),
  'name': 'Taptu',
  'acquisition': {'acquired_year': 2012}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code{"acquisition.acquired_day":{"$lte": 7}}