In [1]:
import sqlalchemy as db
from getpass import getpass

In [2]:
password = getpass("Mysql Password: ")

Mysql Password: ········

In [3]:
dbName = "Publications"
connectionData= f"mysql+pymysql://root:{password}@localhost/{dbName}"
#no me coge el format, no sé por qué es... por eso os envío también los ejercicios en .sql, igualmente los pego aquí

In [4]:
engine = db.create_engine(connectionData)
print("Connected to server!")

ModuleNotFoundError: No module named 'pymysql'

In [5]:
import pandas as pd

In [6]:
#first challenge
df = pd.read_sql_query("""Select authors.au_id as AUTHOR_ID, authors.au_lname as LAST_NAME, 
authors.au_fname as FIRST_NAME,
titles.title as TITLE,
publishers.pub_name as PUBLISHER 
from authors 
LEFT JOIN titleauthor
	ON titleauthor.au_id=authors.au_id
LEFT JOIN titles 
	ON titleauthor.title_id = titles.title_id
LEFT JOIN publishers 
	ON titles.pub_id = publishers.pub_id;
""", engine)

NameError: name 'engine' is not defined

In [7]:
#second challenge
df = pd.read_sql_query("""Select authors.au_id as AUTHOR_ID, 
authors.au_lname as LAST_NAME, 
authors.au_fname as FIRST_NAME, 
publishers.pub_name as PUBLISHER,
COUNT(titles.title) as TITLE_COUNT
from authors 
LEFT JOIN titleauthor
	ON titleauthor.au_id=authors.au_id
LEFT JOIN titles 
	ON titleauthor.title_id = titles.title_id
LEFT JOIN publishers 
	ON titles.pub_id = publishers.pub_id 
    GROUP BY AUTHOR_ID, PUBLISHER;
""", engine)

NameError: name 'engine' is not defined

In [8]:
#Third challenge
df = pd.read_sql_query("""Select authors.au_id as AUTHOR_ID, 
authors.au_lname as LAST_NAME, 
authors.au_fname as FIRST_NAME,
COUNT(titles.title) AS TOTAL, sum(sales.qty) as SUMA
from authors 
LEFT JOIN titleauthor
	ON titleauthor.au_id=authors.au_id
LEFT JOIN titles 
	ON titleauthor.title_id = titles.title_id
LEFT JOIN sales 
	ON titles.title_id = sales.title_id 
    GROUP BY AUTHOR_ID ORDER BY TOTAL DESC LIMIT 3;
""", engine)

NameError: name 'engine' is not defined

In [9]:
#Fourth challenge
df = pd.read_sql_query("""Select authors.au_id as AUTHOR_ID, 
authors.au_lname as LAST_NAME, 
authors.au_fname as FIRST_NAME,
COUNT(titles.title) AS TOTAL, 
COALESCE((SUM(sales.qty)), 0)AS SUMA
from authors 
LEFT JOIN titleauthor
	ON titleauthor.au_id=authors.au_id
LEFT JOIN titles 
	ON titleauthor.title_id = titles.title_id
LEFT JOIN sales 
	ON titles.title_id = sales.title_id 
    GROUP BY AUTHOR_ID ORDER BY TOTAL LIMIT 23;
""", engine)

NameError: name 'engine' is not defined